.divtopcorner {
    /*position:absolute;*/
    /*top:0px;*/
    /*right: 100px;*/
    color: black;
    text-align: center;
}

.divtopcorner img {
    width: 250px;
    height: 150px;
}

.header {
    color: #8a7534;
    text-align: center;
    padding: 5px;
}

.manulist {
    display: inline;
    left: 100px;
}

.menulista {
    /*border-style: hidden;*/
    background-color: #214a69;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: small;
    /*border-radius: 4px 4px 0 0;*/
}

.menulista:hover {
    background-color: #10609f;
    color: #fef7e0;
}
